
{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

        <!-- Slider Section Start -->
        <div class="slider-section slider-active section">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(assets/images/slider/slider-1.jpg);">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h6 class="sub-title">Fitness & Nutrition</h6>
                                <h1 class="main-title">This life style for your fitness, not only diet.</h1>
                                <p>It has survived not only five centuries but also</p>
                                <a href="#" class="btn btn-primary btn-hover-secondary">Start Course</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>

                        <!-- Slider Social Start -->
                        <div class="slider-social">
                            <div class="container">
                                <div class="social-wrapper">
                                    <p>Connect with us:</p>
                                    <ul class="social">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Slider Social End -->
                    </div>
                    <!-- Single Slider End -->

                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(assets/images/slider/slider-2.jpg);">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h6 class="sub-title">Fitness & Nutrition</h6>
                                <h1 class="main-title">This life style for your fitness, not only diet.</h1>
                                <p>It has survived not only five centuries but also</p>
                                <a href="#" class="btn btn-primary btn-hover-secondary">Start Course</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>

                        <!-- Slider Social Start -->
                        <div class="slider-social">
                            <div class="container">
                                <div class="social-wrapper">
                                    <p>Connect with us:</p>
                                    <ul class="social">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Slider Social End -->
                    </div>
                    <!-- Single Slider End -->

                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(assets/images/slider/slider-3.jpg);">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h6 class="sub-title">Fitness & Nutrition</h6>
                                <h1 class="main-title">This life style for your fitness, not only diet.</h1>
                                <p>It has survived not only five centuries but also</p>
                                <a href="#" class="btn btn-primary btn-hover-secondary">Start Course</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>

                        <!-- Slider Social Start -->
                        <div class="slider-social">
                            <div class="container">
                                <div class="social-wrapper">
                                    <p>Connect with us:</p>
                                    <ul class="social">
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Slider Social End -->
                    </div>
                    <!-- Single Slider End -->

                </div>
            </div>
        </div>
        <!-- Slider Section End -->

        <!-- Features Section Start -->
        <div class="section section-padding">
            <div class="container">
                <div class="features-wrapper">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Feature Start -->
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <span><i class="flaticon-lunges"></i></span>
                                </div>
                                <div class="feature-content">
                                    <div class="content-wrapper">
                                        <h4 class="title"><a href="#">Women’s Course</a></h4>
                                        <p>Lorem Ipsum is simply dummy themes industryes psum has been them industry the loep into type setting.</p>
                                    </div>
                                    <a href="#" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Single Feature End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Feature Start -->
                            <div class="single-feature active">
                                <div class="feature-icon">
                                    <span><i class="flaticon-lotus"></i></span>
                                </div>
                                <div class="feature-content">
                                    <div class="content-wrapper">
                                        <h4 class="title"><a href="#">Basic Course</a></h4>
                                        <p>Lorem Ipsum is simply dummy themes industryes psum has been them industry the loep into type setting.</p>
                                    </div>
                                    <a href="#" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Single Feature End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Feature Start -->
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <span><i class="flaticon-computer"></i></span>
                                </div>
                                <div class="feature-content">
                                    <div class="content-wrapper">
                                        <h4 class="title"><a href="#">Men’s Course</a></h4>
                                        <p>Lorem Ipsum is simply dummy themes industryes psum has been them industry the loep into type setting.</p>
                                    </div>
                                    <a href="#" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Single Feature End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Section End -->

        <!-- About Section Start -->
        <div class="section section-padding bg-grey overflow-hidden">
            <div class="container">

                <!-- About Wrapper Start -->
                <div class="about-wrapper">
                    <div class="row align-items-center gx-xxl-5">
                        <div class="col-lg-5">
                            <!-- About Images Start -->
                            <div class="about-images">
                                <img src="{% static 'images/shape/shape-2.png' %}" alt="shape" class="shape">
                                <div class="images">
                                    <img src="{% static 'images/about.jpg' %}" alt="About">
                                </div>
                                <div class="about-btn">
                                    <a href="#" class="btn btn-primary btn-hover-secondary">Meet Instructor</a>
                                </div>
                            </div>
                            <!-- About Images End -->
                        </div>
                        <div class="col-lg-7">
                            <!-- About Content Start -->
                            <div class="about-content bg-white">
                                <img class="shape" src="{% static 'images/shape/shape-1.png' %}" alt="shape">
                                <div class="content-wrapper">
                                    <h6 class="sub-title">25+ years of experience</h6>
                                    <h2 class="main-title">We have expert instructor for help our students.</h2>
                                    <p>Lorem Ipsum is simply dummy text the printing and typesetting standard dummy text ever since the 150 when an unknown printe specimen book has survived centuries. </p>
                                    <span class="count">100+ Courses</span>
                                    <p>Lorem Ipsum is simply dummy text the printing and typesetting standard dummy text ever since the 150 when an unknown printe specimen book has survived centuries.</p>
                                </div>
                            </div>
                            <!-- About Content End -->
                        </div>
                    </div>
                </div>
                <!-- About Wrapper End -->

            </div>
        </div>
        <!-- About Section End -->

        <!-- Courses Section Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title">
                    <h6 class="sub-title">100+ courses available</h6>
                    <h2 class="main-title">Fitness & Nutrition Courses</h2>
                </div>
                <!-- Section Title End -->

                <!-- Courses Wrapper Start -->
                <div class="courses-wrapper">
                    <div class="row gx-xxl-5">
                        <div class="col-lg-4 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="courses-details-left-sidebar.html"><img src="{% static 'images/courses/courses-1.jpg' %}" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-price">
                                        <span class="price">$98</span>
                                    </div>
                                    <div class="content-wrapper">
                                        <p class="author">By: <a href="#">Ryan Patterson</a></p>
                                        <h4 class="title"><a href="courses-details-left-sidebar.html">Children Nutrition and Cooking</a></h4>
                                        <ul class="meta">
                                            <li>08 hr 20 mins</li>
                                            <li>28 Lectures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="courses-details-left-sidebar.html"><img src="{% static 'images/courses/courses-2.jpg' %}" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-price">
                                        <span class="price">$72</span>
                                    </div>
                                    <div class="content-wrapper">
                                        <p class="author">By: <a href="courses-details-left-sidebar.html">Arlene Daniels</a></p>
                                        <h4 class="title"><a href="#">Introduction to Food and Health. </a></h4>
                                        <ul class="meta">
                                            <li>09 hr 25 mins</li>
                                            <li>16 Lectures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="courses-details-left-sidebar.html"><img src="{% static 'images/courses/courses-3.jpg' %}" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-price">
                                        <span class="price">$68</span>
                                    </div>
                                    <div class="content-wrapper">
                                        <p class="author">By: <a href="#">Selina Benton</a></p>
                                        <h4 class="title"><a href="courses-details-left-sidebar.html">Nutrition and Lifestyle in Pregnancy</a></h4>
                                        <ul class="meta">
                                            <li>03 hr 38 mins</li>
                                            <li>18 Lectures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="courses-details-left-sidebar.html"><img src="{% static 'images/courses/courses-4.jpg' %}" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-price">
                                        <span class="price">$98</span>
                                    </div>
                                    <div class="content-wrapper">
                                        <p class="author">By: <a href="#">Ryan Patterson</a></p>
                                        <h4 class="title"><a href="courses-details-left-sidebar.html">Expertise on Fitness, Nutrition and Health

                                            </a></h4>
                                        <ul class="meta">
                                            <li>02 hr 16 mins</li>
                                            <li>14 Lectures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="courses-details-left-sidebar.html"><img src="{% static 'images/courses/courses-5.jpg' %}" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-price">
                                        <span class="price">$72</span>
                                    </div>
                                    <div class="content-wrapper">
                                        <p class="author">By: <a href="#">Arlene Daniels</a></p>
                                        <h4 class="title"><a href="courses-details-left-sidebar.html">Hacking exercise for health new science of fitness</a></h4>
                                        <ul class="meta">
                                            <li>06 hr 12 mins</li>
                                            <li>35 Lectures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="courses-details-left-sidebar.html"><img src="{% static 'images/courses/courses-6.jpg' %}" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <div class="courses-price">
                                        <span class="price">$68</span>
                                    </div>
                                    <div class="content-wrapper">
                                        <p class="author">By: <a href="#">Selina Benton</a></p>
                                        <h4 class="title"><a href="courses-details-left-sidebar.html">Designing Your Personal Weight Loss Plan</a></h4>
                                        <ul class="meta">
                                            <li>09 hr 34 mins</li>
                                            <li>28 Lectures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                    </div>
                </div>
                <!-- Courses Wrapper End -->

            </div>
        </div>
        <!-- Courses Section End -->

        <!-- Testimonial Section Start -->
        <div class="section section-padding testimonial-section testimonial-active">

            <img class="shape-01 animation-down" src="{% static 'images/shape/shape-5.png' %}" alt="Shape">
            <img class="shape-02 animation-up" src="{% static 'images/shape/shape-6.png' %}" alt="Shape">

            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title section-title-white">
                    <h6 class="sub-title">happy students</h6>
                    <h2 class="main-title">What Client Say About Us</h2>
                </div>
                <!-- Section Title End -->

                <!-- Testimonial Wrapper End -->
                <div class="testimonial-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <!-- Single Testimonial Start -->
                            <div class="single-testimonial swiper-slide">
                                <div class="testimonial-author">
                                    <img src="{% static 'images/author/author-01.jpg' %}" alt="Author">
                                    <i class="flaticon-left-quote"></i>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever ince the 1500s when unknown printer took a galley of type and scrambled it to</p>
                                <h4 class="name">Pollock Austin</h4>
                                <span class="designation">UI/UX DESIGNER</span>
                            </div>
                            <!-- Single Testimonial End -->

                            <!-- Single Testimonial Start -->
                            <div class="single-testimonial swiper-slide">
                                <div class="testimonial-author">
                                    <img src="{% static 'images/author/author-02.jpg" alt="Author">
                                    <i class="flaticon-left-quote"></i>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever ince the 1500s when unknown printer took a galley of type and scrambled it to</p>
                                <h4 class="name">Pollock Austin</h4>
                                <span class="designation">UI/UX DESIGNER</span>
                            </div>
                            <!-- Single Testimonial End -->

                            <!-- Single Testimonial Start -->
                            <div class="single-testimonial swiper-slide">
                                <div class="testimonial-author">
                                    <img src="{% static 'images/author/author-03.jpg" alt="Author">
                                    <i class="flaticon-left-quote"></i>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing typesetting industry has been the industry's standard dummy text ever ince the 1500s when unknown printer took a galley of type and scrambled it to</p>
                                <h4 class="name">Pollock Austin</h4>
                                <span class="designation">UI/UX DESIGNER</span>
                            </div>
                            <!-- Single Testimonial End -->

                        </div>
                    </div>
                </div>
                <!-- Testimonial Wrapper End -->

            </div>

            <div class="arrow">
                <div class="swiper-button-next"><i class="fa fa-long-arrow-right"></i></div>
                <div class="swiper-button-prev"><i class="fa fa-long-arrow-left"></i></div>
            </div>

        </div>
        <!-- Testimonial Section End -->

        <!-- Brand Section Start -->
        <div class="section section-padding-02 overflow-hidden">
            <div class="container">

                <!-- Brand Wrapper Start -->
                <div class="brand-wrapper">

                    <img class="shape" src="{% static 'images/shape/shape-12.png' %}" alt="Shape">

                    <!-- Section Title Start -->
                    <div class="section-title shape-none">
                        <h6 class="sub-title">Work With Trusted Brand</h6>
                        <h2 class="main-title">We Have 8,00+ Trusted Partners.</h2>
                        <p>Printing and typesetting standard dummy text ever since</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Brand Logo Wrapper Start -->
                    <div class="brand-logo-wrapper brand-active">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <!-- Single Brand Start -->
                                    <div class="single-brand">
                                        <img class="brand" src="{% static 'images/brand/brand-1-1.png' %}" alt="Brand">
                                        <img class="brand-hover" src="{% static 'images/brand/brand-2-1.png' %}" alt="Brand">
                                    </div>
                                    <!-- Single Brand End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Single Brand Start -->
                                    <div class="single-brand">
                                        <img class="brand" src="{% static 'images/brand/brand-1-2.png' %}" alt="Brand">
                                        <img class="brand-hover" src="{% static 'images/brand/brand-2-2.png' %}" alt="Brand">
                                    </div>
                                    <!-- Single Brand End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Single Brand Start -->
                                    <div class="single-brand">
                                        <img class="brand" src="{% static 'images/brand/brand-1-3.png' %}" alt="Brand">
                                        <img class="brand-hover" src="{% static 'images/brand/brand-2-3.png' %}" alt="Brand">
                                    </div>
                                    <!-- Single Brand End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Single Brand Start -->
                                    <div class="single-brand">
                                        <img class="brand" src="{% static 'images/brand/brand-1-4.png' %}" alt="Brand">
                                        <img class="brand-hover" src="{% static 'images/brand/brand-2-4.png' %}" alt="Brand">
                                    </div>
                                    <!-- Single Brand End -->
                                </div>

                                <div class="swiper-slide">
                                    <!-- Single Brand Start -->
                                    <div class="single-brand">
                                        <img class="brand" src="{% static 'images/brand/brand-1-5.png' %}" alt="Brand">
                                        <img class="brand-hover" src="{% static 'images/brand/brand-2-5.png' %}" alt="Brand">
                                    </div>
                                    <!-- Single Brand End -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Brand Logo Wrapper End -->

                </div>
                <!-- Brand Wrapper End -->

            </div>
        </div>
        <!-- Brand Section End -->

        <!-- Blog Section End -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title">
                    <h6 class="sub-title">Our Blog Post</h6>
                    <h2 class="main-title">Latest Article of Nutrition</h2>
                </div>
                <!-- Section Title End -->

                <!-- Blog Wrapper Start -->
                <div class="blog-wrapper">
                    <div class="row gx-xxl-5">
                        <div class="col-lg-4">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog">
                                    <div class="blog-date-meta">
                                        <span>
                                        <strong>24</strong>
                                        Feb
                                    </span>
                                        <div class="meta">
                                            <p class="author">By: <a href="#">Maddie Rife</a></p>
                                            <ul>
                                                <li>87 Likes</li>
                                                <li>58 Share</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">It was popularised sheets the release contain</a></h4>
                                    <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-lg-4">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog">
                                    <div class="blog-date-meta">
                                        <span>
                                        <strong>24</strong>
                                        Feb
                                    </span>
                                        <div class="meta">
                                            <p class="author">By: <a href="#">Maddie Rife</a></p>
                                            <ul>
                                                <li>87 Likes</li>
                                                <li>58 Share</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">It was popularised sheets the release contain</a></h4>
                                    <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-lg-4">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog">
                                    <div class="blog-date-meta">
                                        <span>
                                        <strong>24</strong>
                                        Feb
                                    </span>
                                        <div class="meta">
                                            <p class="author">By: <a href="#">Maddie Rife</a></p>
                                            <ul>
                                                <li>87 Likes</li>
                                                <li>58 Share</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">It was popularised sheets the release contain</a></h4>
                                    <p>Lorem sum same dummy text theme industry psum have been them industry the leaf into type setting.</p>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                    </div>
                </div>
                <!-- Blog Wrapper End -->

            </div>
        </div>
        <!-- Blog Section End -->.

  

 {% endblock content %}