<!-- Blog Details Comment End -->
{% load extras %}
<div class="blog-details-comment">

    {% if user.is_authenticated %}
    <div class="comment-form">
        <h3 class="title">Leave a comment</h3>

        <!-- Form Wrapper Start -->
        <div class="form-wrapper">
            <form action="{% url 'comments' %}" method="post">
                {% csrf_token %}

                <div class="row gx-3">
                    
                    <input type="hidden" name="id" value="{{post.id}}">
                    <input type="hidden" name="parentcommentserial" value="">

                    <div class="col-md-12">
                        <!-- Form Wrapper Start -->
                        <div class="single-form">
                            <textarea placeholder="Write your comment" name="commentbyuser" required></textarea>
                            <input type="hidden" name="nextpath" value="{{ request.path }}">
                        </div>
                        <!-- Form Wrapper End -->

                    </div>

                    <div class="col-md-12">
                        <!-- Form Wrapper Start -->
                        <div class="single-form text-center">
                            <button class="btn btn-secondary btn-hover-primary">Submit</button>
                        </div>
                        <!-- Form Wrapper End -->
                    </div>

                </div>
            </form>
        </div>
        <!-- Form Wrapper End -->
    </div>
    {% else %}
    <p class="my-4">Please <a href="{% url 'login' %}?next={{request.path}}" class="text-warning">Login</a> To Post a Comment.</p>
    {% endif %}
    



    <div class="comment-wrapper">
        <h3 class="title">Comments ({{comments.count}})</h3>
        {% for comment in comments %}
        <ul class="comment-items">
            <li>
                <!-- Single Comment Start -->
                <div class="single-comment">
                    <div class="comment-author">
                        <div class="author-thumb">
                            <img src="{{comment.user.userprofile.image.url}}" alt="Author">
                        </div>
                        <div class="author-content">
                            <h4 class="name">{{comment.user.first_name}} {{comment.user.last_name}}</h4>
                            <span class="designation">{{comment.time.date}}</span>
                        </div>
                    </div>
                    <p>{{comment.comment}}</p>

                    <a href="#" class="reply" type="button" data-toggle="collapse" data-target="#reply{{comment.serial_key}}" aria-expanded="false" aria-controls="reply{{comment.serial_key}}">
                        <i class="icofont-reply"></i> 
                        Reply
                    </a>
                    <div class="collapse" id="reply{{comment.serial_key}}">
                        <div class="card card-body mt-3">
                            
                            {% if user.is_authenticated %}
                            <div class="comment-form">
                                <h3 class="title">Leave a reply</h3>
                        
                                <!-- Form Wrapper Start -->
                                <div class="form-wrapper">
                                    <form action="{% url 'comments' %}" method="post">
                                        {% csrf_token %}
                        
                                        <div class="row gx-3">
                                            
                                            <input type="hidden" name="id" value="{{post.id}}">
                                            <input type="hidden" name="parentcommentserial" value="{{comment.serial_key}}">
                                              
                                            <div class="col-md-12">
                                                <!-- Form Wrapper Start -->
                                                <div class="single-form">
                                                    <textarea placeholder="Write your reply" name="commentbyuser" required></textarea>
                                                    <input type="hidden" name="nextpath" value="{{ request.path }}">
                                                </div>
                                                <!-- Form Wrapper End -->
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Form Wrapper Start -->
                                                <div class="single-form text-center">
                                                    <button class="btn btn-secondary btn-hover-primary">Submit</button>
                                                </div>
                                                <!-- Form Wrapper End -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Form Wrapper End -->
                            </div>
                            {% else %}
                            <p class="my-4">Please <a href="{% url 'login' %}?next={{request.path}}" class="text-warning">Login</a> To Post a Reply.</p>
                            {% endif %}


                        </div>
                    </div>
                </div>
                <!-- Single Comment End -->


                <ul class="comment-reply">
                    
                    <li>
                        <!-- Single Comment Start -->
                        {% for replies in  comment_reply|get_value:comment.serial_key %}

                        <div class="single-comment">
                            <div class="comment-author">
                                <div class="author-thumb">
                                    <img src="{{replies.user.userprofile.image.url}}" alt="Author">
                                </div>

                                <div class="author-content">
                                    <h4 class="name">{{replies.user.first_name}} {{replies.user.last_name}}</h4>
                                    <span class="designation">{{replies.time.date}}</span>
                                </div>

                            </div>
                            <p>
                                {{replies.comment}}</p>

                        </div>
                        {% endfor %}

                        <!-- Single Comment End -->
                    </li>

                </ul>
            </li>
        </ul>
        {% endfor %}
    </div>
    
</div>
<!-- Blog Details Comment End -->


