{% extends 'mainapp/base.html' %}
{% load static %}
{% load social_share %}
{% block content %}
<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section blog-bg page-banner-section">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">{{post.title}}</h2>

            <ul class="breadcrumb">

                <li class="breadcrumb-item active">
                    <a href="{% url 'home-page' %}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{% url 'blog-home' %}">
                        Blog
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{{  post.category.get_absolute_url  }}">
                        {{post.category}}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    {{post.title}}
                </li>

            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Blog Post Content Start -->
<div class="section section-padding-02">
    <div class="container">

        <!-- Blog Wrapper Start -->
        <div class="blog-wrapper-02">
            <div class="row gx-xxl-5">
                <div class="col-lg-8">

                    <!-- Blog Details Wrapper Start -->
                    <div class="blog-details-wrapper">

                        <div class="details-images">
                            <img src="{{post.featured_image.url}}" alt="Blog Details">
                        </div>

                        <div class="blog-details-admin-meta">
                            <div class="author">
                                <div class="author-thumb">
                                    <a href="#"><img src="{{post.author.userprofile.image.url}}"
                                            alt="{{post.author}}"></a>
                                </div>
                                <div class="author-name">
                                    <p class="name">By: <a href="#">{{post.author.first_name}}
                                            {{post.author.last_name}}</a></p>
                                            
                                </div>
                            </div>
                            <div class="blog-meta">
                                <span>
                                    <i class="icofont-calendar"></i>{{post.created_date}}
                                </span>
                                <span>
                                    <i class="icofont-heart"></i> 2,568+
                                </span>
                                <span class="tag">
                                    <a href="/blog/{{post.category.slug}}/">
                                        {{post.category}}</a></br>
                                </span>
                                {% if post.draft %}
                                <span class="btn-danger btn-sm">
                                    <a href="#" class='text-white'>
                                        Draft</a></br>
                                </span>
                                {% elif post.category.draft%}
                                <span class="btn-danger btn-sm">
                                    <a href="#" class='text-white'>
                                        Draft (Category)</a></br>
                                </span>
                                {% endif %}
                                {% comment %} <i><p class="text-danger">Draft</p></i> {% endcomment %}
                            </div>
                        </div>

                        <div class="blog-details-description mt-4">
                            {{post.content|safe}}
                        </div>
                        {% if post.updated %}
                        <span>
                            <p class="mt-4 text-warning">Updated on: <strong>{{post.updated}}</strong> </p>
                        </span>
                        {% endif %}

                        {% include 'blog/share.html' %}
                        <a href="#" class="btn-sm btn-primary">Clap</a>

                    </div>
                    <!-- Blog Details Wrapper End -->
                    
                  {% include 'blog/comments.html' %}

                </div>

                <div class="col-lg-4">

                    <!-- Blog Sidebar Start -->
                    <div class="sidebar">

                        <!-- Sidebar Widget Search Start -->
                        <div class="sidebar-widget widget-search">
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" placeholder="Search here" name="query">
                                <button><i class="icofont-search-1"></i></button>
                            </form>
                        </div>
                        <!-- Sidebar Widget Search End -->

                        <!-- Sidebar Widget Category Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Post Category</h4>

                            <div class="widget-category">
                                <ul class="category-list">
                                    {% for category,count in category %}
                                    <li><a
                                            href="{{category.get_absolute_url}}">{{category}}<span>{{count.post_count}}</span></a>
                                    </li>

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Category End -->

                        <!-- Sidebar Widget Post Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Recent Post</h4>

                            <div class="widget-post">
                                <ul class="post-items">
                                    {% for blog in blog|slice:":4" %}
                                    <li>
                                        {% comment %} /blog/{{post.category.slug}}/ {% endcomment %}
                                        <!-- Sidebar Widget Post Start -->
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a href="{{blog.get_absolute_url}}"><img
                                                        src="{{blog.featured_image.url}}" alt="Post"></a>
                                            </div>
                                            <div class="post-content">
                                                <h5 class="title"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                                                </h5>
                                                <span class="date"><i class="icofont-calendar"></i>
                                                    {{blog.created_date}}</span>
                                            </div>
                                        </div>
                                        <!-- Sidebar Widget Post End -->
                                    </li>
                                    {%endfor%}

                                </ul>

                                <div class="col text-center mt-4">
                                    <a class="center btn btn-secondary btn-hover-primary mt-3"
                                        href="{% url 'blog-home' %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Widget Post End -->

                        <!-- Sidebar Widget Tags Start -->
                        <div class="sidebar-widget">
                            <h4 class="widget-title">Popular Tags</h4>

                            <div class="widget-tags">
                                <ul class="tags-list">
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Design</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Widget Tags End -->



                    </div>
                    <!-- Blog Sidebar End -->

                </div>
            </div>
        </div>
        <!-- Blog Wrapper End -->

    </div>
</div>
<!-- Blog Post Section End -->


{% endblock content %}