{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->

<!-- Page banner Section Start -->
<div class="section page-banner-section page-banner">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">{{post.0.category}}</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="{% url 'home-page' %}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{% url 'blog-home' %}">
                        Blog
                    </a>
                </li>
                <li class="breadcrumb-item">{{category_name}}</li>
            </ul>

        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Blog Post Section Start -->

<div class="section section-padding-02">

    <div class="container">
        {% if count < 1 %}

        <h2>No posts found in the database</h2>
        
        {% endif %}


        <!-- Blog Wrapper Start -->
        <div class="blog-wrapper-02">
            <div class="row gx-xxl-5">
                {% for post in post|slice:"0:" %}
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog">
                            <div class="blog-date-meta">
                                <span>
                                    <strong>{{post.date.date.day}}</strong>
                                    Feb
                                </span>
                                <div class="meta">
                                    <p class="author">By: <a href="#">{{post.author.first_name}} {{post.author.last_name}}</a></p>
                                    <ul>
                                        <a href="/blog/{{post.category.slug}}/" class="success">{{post.category}}</a>
                                    </ul>
                                </div>
                            </div>

                            <h4 class="title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                            <p class="meta-desc">
                                <a href="{{post.get_absolute_url}}">
                                    {{ post.content|striptags|slice:':100'|safe}}...
                                </a>
                                </p>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    
                </div>
                {% endfor %}
                
                
                
            </div>
        </div>
        <!-- Blog Wrapper End -->

        <!-- Page Pagination End -->
        <div class="page-pagination">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                
                {% for post in post|slice:":1" %}
                <li>
                    <a href="/blog/{{post.category.slug}}?page={{page_obj.previous_page_number}}">
                        <i class="icofont-rounded-left"></i>{{page_obj.previous_page_number}}
                    </a>
                </li>
                {%endfor%}

                {%endif%}
                


                {% if page_obj.has_next %}
                {% for post in post|slice:":1" %}
                <li>
                    <a href="/blog/{{post.category.slug}}?page={{page_obj.next_page_number}}">
                        {{page_obj.next_page_number}}<i class="icofont-rounded-right"></i>
                    </a>
                </li>
                {%endfor%}
                {%endif%}
            </ul>
        </div>
        <!-- Page Pagination End -->

    </div>
</div>
<!-- Blog Post Section End -->


{% endblock content %}