{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->
{% if exceed_error %}
<!-- Page banner Section Start -->
<div class="section page-banner-section page-banner">
    <div class="page-banner-content">

        <div class="container">
            <h3 class="my-4 alert alert-danger">Query Limit Triggered !</h3>
            {% if exceed_error %}
            <p class="text-danger">
                {{exceed_error}} 
                <br>
            </p>
            {% else %}
            <p>
                Your search query : <b>{{query}}</b> did not match any documents. 
                <br>
            </p>
            {% endif %}
            <h3 class=my-3>Suggestions:</h3>

            <div class='container my-2 text-success'>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try more general keywords.</li>
                <li> Try fewer keywords.</li>
                <li> Try different keywords.</li>
            </div>

        </div>
    </div>
</div>

{% else %}

<div class="section page-banner-section page-banner">

    {% if post|length < 1 %} <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">

            <div class="container">
                <h3 class="my-4 alert alert-warning">No search results</h3>
                {% if error_message %}
                <p class="text-danger">
                    {{error_message}} 
                    <br>
                </p>
                {% else %}
                <p>
                    Your search query : <b>{{query}}</b> did not match any documents. 
                    <br>
                </p>
                {% endif %}
                <h3 class=my-3>Suggestions:</h3>

                <div class='container my-2text-success'>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try more general keywords.</li>
                    <li> Try fewer keywords.</li>
                    <li> Try different keywords.</li>
                </div>

            </div>
        </div>
        <!-- Page banner Section End -->

</div>
</div>
{% else %}
<div class="page-banner-content">
    <h2 class="container page-title">Search Results for {{query}}</h2>
</div>
<div class="section section-padding-02">

    <div class="container">


        <!-- Blog Wrapper Start -->
        <div class="blog-wrapper-02">
            <div class="row gx-xxl-5">
                {% for post in post %}
                <div class="col-lg-4 col-md-6">

                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog">
                            <div class="blog-date-meta">
                                <span>
                                    <strong>24</strong>
                                    Feb
                                </span>
                                <div class="meta">
                                    <p class="author">By: <a href="#">{{post.author.first_name}}
                                            {{post.author.last_name}}</a></p>
                                    <ul>
                                        <a href="/blog/{{post.category.slug}}/" class="success">{{post.category}}</a>
                                    </ul>
                                </div>
                            </div>

                            <h4 class="title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                            <p class="meta-desc">
                                <a href="{{post.get_absolute_url}}">
                                    {{ post.content|striptags|slice:':100'|safe}}...
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- Single Blog End -->

                </div>
                {% endfor %}


            </div>
        </div>
        <!-- Blog Wrapper End -->

        <!-- Page Pagination End -->
        <div class="page-pagination">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li>
                    <a href="/blog/?page=1">
                        <i class="icofont-rounded-left"></i>First
                    </a>
                </li>

                {% for post in post|slice:":1" %}
                <li>
                    <a href="/blog/?page={{page_obj.previous_page_number}}">
                        <i class="icofont-rounded-left"></i>{{page_obj.previous_page_number}}
                    </a>
                </li>
                {%endfor%}

                {%endif%}



                {% if page_obj.has_next %}
                {% for post in post|slice:":1" %}
                <li>
                    <a href="/blog/?page={{page_obj.next_page_number}}">
                        {{page_obj.next_page_number}}<i class="icofont-rounded-right"></i>
                    </a>
                </li>
                {%endfor%}

                <li>
                    <a href="/blog/?page={{ page_obj.paginator.num_pages }}">
                        Last<i class="icofont-rounded-right"></i>
                    </a>
                </li>
                {%endif%}
            </ul>
        </div>
        <!-- Page Pagination End -->

    </div>
</div>
{% endif %}
{% endif %}
<!-- Blog Post Section End -->
{% endblock content %}