<div class="blog-details-tags-social">


    <div class="blog-details-label">
        <h4 class="label">Share:</h4>
        <ul class="social">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://127.0.0.1:8000{{post.get_absolute_url}}"
                    target="_blank">
                    <i class="icofont-facebook"></i>
                </a>
            </li>

            <li>
                <a href="https://www.reddit.com/submit?url=https://google.com{{post.get_absolute_url}}" target="_blank">
                    <i class="icofont-reddit"></i>
                </a>
            </li>

            <li>
                <a href="http://www.twitter.com/share?url=https://google.com{{post.get_absolute_url}}"
                    target="_blank">
                    <i class="icofont-twitter"></i>
                </a>
            </li>

            <li>
                <a href="#" target="_blank">
                    <i class="icofont-linkedin"></i>
                </a>
            </li>
            {% comment %} <li>
                <i class="icofont-skype">
                    {% post_to_facebook data object_or_url %}
                </i>
            </li> {% endcomment %}
        </ul>
    </div>
</div>