{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% comment %} <input type="hidden" name="next" value="{{next}} {% endcomment %}

        <!-- Overlay Start -->
        <div class=" overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section login-bg">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">Login Page</h2>
            <!--
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Login</li>
                    </ul>
                    -->
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Login & Register Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Register & Login Wrapper Start -->
        <div class="register-login-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-5">
                    <!-- Register & Login Form Start -->
                    <div class="register-login-form">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="mt-4 text-center alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <h3 class="title">Login <span>Again</span></h3>
                        {% endfor %}
                        {% else %}
                        <h3 class="title">Login <span>Now</span></h3>
                        {% endif %}

                        <div class="form-wrapper">
                            <form action="" method="POST">
                                {% csrf_token %}

                                {% if form.errors %}

                                {% for error in form.errors %}
                                
                                <div class="mt-4 text-center alert alert-danger alert-dismissible fade show"
                                    role="alert">
                                    Please enter a correct username and password. Note that both fields may be
                                    case-sensitive.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                

                                {% endfor %}
                                {% endif %}
                                {% for field in form %}

                                <div class="single-form">
                                    <p class="text-center mt-3">{{ field.label}}</p>
                                    {{field}}
                                </div>

                                {% endfor %}

                                <div class="single-form">
                                    <!--/accounts/google/login/?process=login -->

                                    <button class="btn btn-primary btn-hover-dark w-100" type="submit">Login</button>
                                    <a class="btn btn-secondary btn-outline w-100" href="#">Login with Google</a>
                                </div>

                                <!-- Single Form End -->
                                <p><a href="{% url 'password_reset' %}" class="text-danger">Lost your password?</a></p>
                                <p>No account? <a href="{% url 'register' %}">Create one here.</a></p>

                            </form>
                        </div>
                    </div>
                    <!-- Register & Login Form End -->

                </div>
            </div>
        </div>
        <!-- Register & Login Wrapper End -->

    </div>
</div>
<!-- Login & Register Section End -->


{% endblock content %}