{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->

        <!-- Page banner Section Start -->
        <div class="section page-banner-section register-bg">
            <div class="container form-wrapper">

                <!-- Page banner Section Start -->
                <div class="page-banner-content">
                    <h2 class="page-title active">You have been logged out.</h2>
                    <a href="{% url 'login' %}" class="btn btn-primary my-4 mx-2">Login again.</a>
                </div> 
                <!-- Page banner Section End -->

            </div>
        </div>
        <!-- Page banner Section End -->


{% endblock content %}