{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->


        <!-- Page banner Section Start -->
        <div class="section page-banner-section login-bg">
            <div class="container">

                <!-- Page banner Section Start -->
                <div class="page-banner-content">
                    <h2 class="page-title">Login Form</h2>

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Login</li>
                    </ul>
                </div>
                <!-- Page banner Section End -->

            </div>
        </div>
        <!-- Page banner Section End -->

        <!-- Login & Register Section Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- Register & Login Wrapper Start -->
                <div class="register-login-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-xl-5">
                            <!-- Register & Login Form Start -->
                            <div class="register-login-form">


                                {% if messages %}

                                        {% for message in messages %}

                                            <div class="mt-4 text-center alert alert-danger fade show" role="alert">
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                            
                            <h3 class="title">Request <span>Password Reset</span></h3>

                                <div class="form-wrapper">
                                    <form method="POST">
                                    {% csrf_token %}

                                        {{ form.as_p}}
                                        
                                        <div class="single-form">
                                        <!--/accounts/google/login/?process=login -->
                                        
                                            <button class="btn btn-primary btn-hover-dark w-100" type="submit">Reset Password</button>
                                        </div>

                                        <!-- Single Form End -->
                                        <p><a href="#">Lost your password?</a></p>
                                        <p>No account? <a href="{% url 'register' %}">Create one here.</a></p>

                                    </form>
                                </div>
                            </div>
                            <!-- Register & Login Form End -->

                        </div>
                    </div>
                </div>
                <!-- Register & Login Wrapper End -->

            </div>
        </div>
        <!-- Login & Register Section End -->



{% endblock content %}