{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->

        <!-- Page banner Section Start -->
        <div class="section page-banner-section register-bg">
            <div class="container form-wrapper">

                <!-- Page banner Section Start -->
                <div class="page-banner-content">
                    {% for message in messages %}

                    <div class="text-center alert alert-success fade show" role="alert">
                        <strong>
                            {{message}}
                        </strong>
                        
                    </div>

                    {% endfor %}
                </div> 
                <!-- Page banner Section End -->

            </div>
        </div>
        <!-- Page banner Section End -->


{% endblock content %}