{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">User Profile</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

        <div class="row">


            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="page-banner-content">
                            <h2 class="page-title">{{ user.first_name }}'s Profile</h2>
                            <div class="d-flex align-items-center">
                                <img class="mt-3 rounded-circle account-img" src="{{ user.userprofile.image.url }}"
                                    alt="Profile Image">
                                <div class="row">
                                    <ul class='list-style-none'>
                                        <li class="col ml-4 mb-2">
                                            Username : {{user.username}}
                                        </li>
                                        <li class="col ml-4 mb-2">
                                            Name : {{user.first_name}} {{user.last_name}}
                                        </li>
                                        <li class="col ml-4 mb-2">
                                            E-mail: {{user.email}}
                                        </li>
                                        <li class="col ml-4 mb-2">
                                            Staff : {% if user.is_staff %}
                                            Yes
                                            {% else %}
                                            No
                                            {% endif %}
                                        </li>

                                    </ul>
                                </div>
                                

                            </div>
                        </div>
                        <div class="text-right">

                            <a href="/edit/user/{{user.pk}}/">
                                <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                            </a>
                            {% comment %} /user/update/profile/{{user.pk}} {% endcomment %}
                            
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    {% endblock content%}