{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section page-banner-section register-bg">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">Registration Form</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Register</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Login & Register Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Register & Login Wrapper Start -->
        <div class="register-login-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-5">
                    <!-- Register & Login Form Start -->
                    <div class="register-login-form">
                        <h3 class="title">Register <span>Now</span></h3>

                        <div class="form-wrapper">
                            <form action="" method="POST">
                                {% csrf_token %}



                                {% for field in form %}

                                    <div class="single-form">
                                        <p class="text-center mt-3">{{ field.label}}</p>
                                        {{field}}
                                    </div>

                                    {% if field.errors %}

                                        {% for error in field.errors %}

                                            <div class="mt-4 text-center alert alert-danger alert-dismissible fade show" role="alert">
                                                {{error}}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}


                                <div class="single-form">
                                    <button class="btn btn-primary btn-hover-dark w-100" type="submit">Create an
                                        account</button>
                                    <a class="btn btn-secondary btn-outline w-100" href="#">Sign up with Google</a>
                                </div>
                                <p class="text-muted">Already have an account? <a href="{% url 'login' %}">Log in
                                        instead!</a></p>



                            </form>
                        </div>
                    </div>
                    <!-- Register & Login Form End -->
                </div>
            </div>
        </div>
        <!-- Register & Login Wrapper End -->

    </div>
</div>
<!-- Login & Register Section End -->



{% endblock content %}