<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.minicolors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/quill.snow.css' %}">
    <link href="{% static 'admin/css/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/steps.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/float-chart.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/magnific-popup.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/multicheck.css' %}">
    <link href="{% static 'admin/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.j1s IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.j1s doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.j1s"></script>
    <script src="https://oss.maxcdn.com/libs/respond.j1s/1.4.2/respond.min.j1s"></script>
<![endif]-->
</head>

<body>


    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar fixed-top top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/" target="_blank">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <h4 class="mt-4">
                                &nbsp&nbsp<i class="fas fa-tachometer-alt"></i> &nbsp&nbspNutras Dashboard
                            </h4>
                        </b>
                        <!--End Logo icon -->
                        
                    </a>
                    
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a
                                class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-md-block">Create a New <i class="fa fa-angle-down"></i></span>
                                <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'create-blog-post' %}">Post</a>
                                {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'create-page' %}">Page</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'create-comments' %}">Comments</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                     

                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                                <a href="/" target="_blank" class="btn btn-rounded btn-primary btn-sm">
                                    View Site
                                </a>
                            <a class="nav-link dropdown-toggle text-success waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ user.userprofile.image.url }}" alt="user" class="rounded-circle" width="31"> 
                                {% if user.is_superuser %}
                                Admin (@{{user.username}})
                                {% elif user.is_staff %}
                                Staff (@{{user.username}})
                                {% endif %}
                                
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="{% url 'profile' %}"><i class="ti-user m-r-5 m-l-5"></i>
                                    Profile</a>
                                <a class="dropdown-item" href="/user/update/profile/{{user.pk}}"><i class="fas fa-image"></i>
                                    Edit Profile Image</a>
                                
                                <div class="dropdown-divider"></div>
                                <div class="p-l-30 p-10">
                                    <a href="{% url 'logout' %}"
                                        class="btn btn-sm btn-danger btn-rounded"> <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                </div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        {% if not user.is_superuser and not user.is_staff %}

                            <li class="sidebar-item"> 
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="{% url 'profile' %}" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                    <span class="hide-menu">
                                        Profile
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item"> 
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/user/update/profile/{{user.pk}}" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                    <span class="hide-menu">
                                        Edit Profile Image
                                    </span>
                                </a>
                            </li>

                        {% endif %}

                        {% if user.is_superuser or user.is_staff %}

                        <li class="sidebar-item"> 
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'staff-dashboard' %}" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span class="hide-menu">
                                    Dashboard
                                </span>
                            </a>
                        </li>


                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="#" aria-expanded="false">
                                <i class="fa fa-thumbtack"></i>
                                <span class="hide-menu">
                                    Posts 
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="{% url 'create-blog-post' %}" class="sidebar-link">
                                        <i class="fa fa-plus"></i>
                                            <span class="hide-menu"> 
                                                Add New
                                            </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{% url 'list-blog-post' %}" class="sidebar-link">
                                        <i class="fa fa-list"></i>
                                        <span class="hide-menu"> 
                                            All Posts
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        {% if user.is_superuser %}
                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="#" aria-expanded="false">
                                <i class="fa fa-file"></i>
                                <span class="hide-menu">
                                    Pages 
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="{% url 'create-page' %}" class="sidebar-link">
                                        <i class="fa fa-plus"></i>
                                            <span class="hide-menu"> 
                                                Add New
                                            </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{% url 'list-pages' %}" class="sidebar-link">
                                        <i class="fa fa-list"></i>
                                        <span class="hide-menu"> 
                                            All Pages
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}



                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="#" aria-expanded="false">
                                <i class="fa fa-list-alt"></i>
                                <span class="hide-menu">
                                    Categories
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="{% url 'create-categories' %}" class="sidebar-link">
                                        <i class="fa fa-plus"></i>
                                            <span class="hide-menu"> 
                                                Add New
                                            </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{% url 'list-categories' %}" class="sidebar-link">
                                        <i class="fa fa-list"></i>
                                        <span class="hide-menu"> 
                                            All Categories
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="javascript:void(0)" aria-expanded="false">
                                <i class="fa fa-comment-alt"></i>
                                <span class="hide-menu">
                                    Comments
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="{% url 'create-comments' %}" class="sidebar-link">
                                        <i class="fa fa-plus"></i>
                                            <span class="hide-menu"> 
                                                Add New
                                            </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{% url 'list-comments' %}" class="sidebar-link">
                                        <i class="fa fa-comment-alt"></i>
                                        <span class="hide-menu"> 
                                            All Comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    

                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="#" aria-expanded="false">
                                <i class="fa fa-image"></i>
                                <span class="hide-menu">
                                    Media Gallery 
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                
                                <li class="sidebar-item">
                                    <a href="{% url 'list-media-gallery' %}" class="sidebar-link">
                                        <i class="fa fa-images"></i>
                                        <span class="hide-menu"> 
                                            Content Images
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{% url 'upload-media-gallery' %}" class="sidebar-link">
                                        <i class="fas fa-upload"></i>
                                        <span class="hide-menu"> 
                                            Upload an Image
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        
                        

                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                <span class="hide-menu">
                                    Users
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">

                                {% if user.is_superuser %}
                                
                                <li class="sidebar-item">
                                    <a href="{% url 'list-users' %}" class="sidebar-link">
                                        <i class="fas fa-users"></i>
                                        <span class="hide-menu"> 
                                            All Users
                                        </span>
                                    </a>
                                </li>

                                {% endif %}

                                <li class="sidebar-item">
                                    <a href="{% url 'change-custom-user-password' %}" class="sidebar-link">
                                        <i class="fas fa-edit"></i>
                                        <span class="hide-menu"> 
                                            Change Password
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {% if user.is_superuser %}


                        <li class="sidebar-item"> 
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-object-group"></i>
                                <span class="hide-menu">
                                    Groups
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                
                                <li class="sidebar-item">
                                    <a href="{% url 'create-group' %}" class="sidebar-link">
                                        <i class="fas fa-object-group"></i>
                                        <span class="hide-menu"> 
                                            All Groups
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a href="{% url 'create-group' %}" class="sidebar-link">
                                        <i class="fas fa-edit"></i>
                                        <span class="hide-menu"> 
                                            Create a Group
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->









        {% block content %}

        {% endblock content %}




        <!-- footer -->
        <!-- ============================================================== -->

        <footer class="footer text-center">
            All Rights Reserved by Nutras. Designed and Developed by <a href="#">Ragas Imger</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/libs/popper.js' %}/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'admin/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'admin/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'admin/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'admin/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'admin/js/custom.min.js' %}"></script>
    <!-- This Page JS -->

    <script src="{% static 'admin/js/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'admin/js/mask.init.js' %}"></script>
    <script src="{% static 'admin/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin/js/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery-asGradient.js' %}"></script>
    <script src="{% static 'admin/js/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'admin/js/quill.min.js' %}"></script>


    <script src="{% static 'admin/libs/chart/matrix.interface.js' %}"></script>
    <script src="{% static 'admin/libs/chart/excanvas.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'admin/js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'admin/js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'admin/js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'admin/libs/chart/jquery.peity.min.js' %}"></script>
    <script src="{% static 'admin/libs/chart/matrix.charts.js' %}"></script>
    <script src="{% static 'admin/libs/chart/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'admin/libs/chart/turning-series.js' %}"></script>
    <script src="{% static 'admin/js/chart-page-init.js' %}"></script>

    <script src="{% static 'admin/js/jquery.steps.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'admin/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'admin/js/meg.init.js' %}"></script>
    <script src="{% static 'admin/js/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'admin/js/jquery.multicheck.js' %}"></script>
    <script src="{% static 'admin/js/datatables.min.js' %}"></script>




    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
    </script>

    <script>
        // Basic Example with form
        var form = $("#example-form");
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                alert("Submitted!");
            }
        });


    </script>


    <script>
        $('#zero_config').DataTable();
    </script>



{% comment %} Category Popup {% endcomment %}

<script type="text/javascript">
    function showEditPopup(url) {
        var win = window.open(url, "Edit", 
            'height=500,width=800,resizable=yes,scrollbars=yes');
        return false;
    }
    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }
    function closePopup(win, newID, newRepr, id) {
        $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
        win.close();
    }
    
</script>





</body>

</html>