{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">All Categories ({{counts}})</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <h4 class="card-title m-b-0 col-6">Recent {{create}}s</h4>
                            <span class="col-6">
                                <a href="{% url 'create-categories' %}" class="btn btn-primary text-right">
                                    Create a New Category
                                </a>
                            </span>
                        </div>
                    </div>
                    
                    <div class="comment-widgets scrollable">
                        <!-- Comment Row -->
                        {% for post,count in category %}
                        {% comment %} {% for post,count in category %} {% endcomment %}
                        <div class="d-flex flex-row comment-row m-t-0 border border-success">
                            
                            <div class="comment-text w-100">
                                
                                <a href="/users/category/edit/{{post.slug}}/">
                                    <h6 class="font-medium">{{post.category}} ({{count.post_count}})</h6>
                                </a>
                                
                                <span class="m-b-15 d-block">{{post.description|striptags|slice:':200'|safe}}...</span>
                                <div class="comment-footer">

                                    {% if post.draft %}
                                    <span class="text-danger float-right">Draft</span><br>
                                    {% else %}
                                    <span class="text-warning float-right">Published</span><br>
                                    {% endif %}





                                    {% comment %} <span class="text-warning float-right">Published on: {{post.created_date}}</span><br>
                                    <span class="text-success float-right">Updated on: {{post.updated}}</span> {% endcomment %}
                                    {% if user.is_superuser %}
                                    <a href="/users/category/edit/{{post.slug}}/">
                                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                                    </a>
                                    <a href="/users/category/{{post.slug}}/delete/">
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </a>
                                    {% endif %}
                                    <a href="{{post.get_absolute_url}}" target="_blank">
                                        <button type="button" class="btn btn-success btn-sm">View Post</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- accoridan part -->

                <!-- toggle part -->

            </div>


        </div>
    </div>
</div>

{% endblock content %}