{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
        <div class="page-wrapper">
            
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        
                        <h4 class="page-title">Create {{create}}</h4>
                        
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
 
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">


                            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}


                                <div class="card-body">
                                    <h4 class="card-title mb-4">Create a New {{create}}</h4>
                                    
                                    {% for field in form %}
                                    <div class="form-group row text-left">
                                        <label for="fname" class="col-sm-3 text-left control-label col-form-label">{{ field.label}} :</label>
                                        <div class="col">
                                            <div class="input">{{field}}</div>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>

                                <div class="border-top">
                                    <div class="card-body text-right">
                                        <button class="btn btn-primary" type="submit" action="/">Publish</button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                 
                </div>
            </div>
            
{% endblock content %}