{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Delete this post?</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        
        <div class="row">
            <div class="col-12">

                <div class="card-body border-top">

                    <div class="alert alert-danger mt-4" role="alert">
                        {% if  post.title %}

                        <h4 class="alert-heading"><i>"{{post.title}}"</i> will be deleted permanently from database.</h4>
                        {% elif post.category %}
                        <h4 class="alert-heading"><i>"{{post.category}}"</i> will be deleted permanently from database.</h4>
                        {% elif post.name %}
                        <h4 class="alert-heading"><i>"{{post.name}}"</i> will be deleted permanently from database.</h4>
                        {% elif post.username %}
                        <h4 class="alert-heading"><i>"{{post.username}}"</i> will be deleted permanently from database.</h4>
                        {% else %}
                        <h4 class="alert-heading"><i>"{{post.comment}}"</i> will be deleted permanently from database.</h4>
                        {% endif %}
                        <hr>
                        <p>Are you sure about deletion?</p>
                        <p class="mb-0">

                            <form method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger">
                                    Yes
                                </button>
                                <a href="{{view.get_success_url}}" class="btn btn-danger">
                                    Cancel
                                </a>
                                
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}