{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">All {{create}}s</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <h4 class="card-title m-b-0 col-6">Recent {{create}}s</h4>
                            <span class="col-6">
                                <a href="{% url 'create-comments' %}" class="btn btn-primary text-right">
                                    Create a New {{created}}
                                </a>
                            </span>
                        </div>
                    </div>
                    
                    <div class="comment-widgets scrollable">
                        <!-- Comment Row -->
                        {% for post in post %}
                        <div class="d-flex flex-row comment-row m-t-0 border border-success">
                            
                            <div class="comment-text w-100">
                                <a href="/users/content/edit/{{post.category.slug}}/{{post.slug}}/">
                                    <h6 class="font-medium">{{post.comment|truncatechars:150}}</h6>
                                </a>
                                <span class="m-b-15 d-block">
                                    on <a href="{{post.post.get_absolute_url}}" target="_blank">{{post.name}}</a>
                                </span>
                                
                               
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- accoridan part -->

                <!-- toggle part -->

            </div>


        </div>
    </div>
</div>

{% endblock content %}