{% extends 'mainapp/base.html' %}
{% load static %}
{% load social_share %}
{% block content %}
<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->


<!-- Page banner Section Start -->
<div class="section blog-bg page-banner-section">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">{{page.title}}</h2>

            <ul class="breadcrumb">

                <li class="breadcrumb-item active">
                    <a href="{% url 'home-page' %}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    Legal
                </li>
                <li class="breadcrumb-item">
                    {{page.title}}
                </li>
                

            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- Blog Post Content Start -->
<div class="section section-padding-02">
    <div class="container">

        <!-- Blog Wrapper Start -->
        <div class="blog-wrapper-02">
            <div class="row gx-xxl-5">
                <div class="col-lg-12">

                    <!-- Blog Details Wrapper Start -->
                    <div class="blog-details-wrapper">

                        {% comment %} <div class="details-images">
                            <img src="{{page.featured_image.url}}" alt="Blog Details">
                        </div> {% endcomment %}

                        

                        <div class="blog-details-description mt-4">
                            {{page.content|safe}}
                        </div>
                        

                    </div>
                    <!-- Blog Details Wrapper End -->
                    
                  

                </div>

               
            </div>
        </div>
        <!-- Blog Wrapper End -->

    </div>
</div>
<!-- Blog Post Section End -->


{% endblock content %}