{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Media Gallery</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row el-element-overlay">

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            {% for post in post %}
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="{{post.file.url}}" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a class="btn default btn-outline image-popup-vertical-fit el-link" href="{{post.file.url}}"><i class="mdi mdi-magnify-plus"></i></a></li>
                                            <li class="el-item">
                                                <a class="btn default btn-outline el-link" href="{{post.file.url}}" target="_blank">
                                                    <i class="mdi mdi-link"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h4 class="m-b-0">{{post.name}}</h4>
                                    <a href="/users/media-gallery/{{post.pk}}/delete/">
                                        <span class="mt-4 btn btn-danger">Delete</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>

            </div>

            {% endblock content %}