{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">All Posts ({{post.count}})</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'staff-dashboard' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Posts</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        
                        
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recent Posts</h5>
                            </div>
                            <div class="m-4">
                              <a href="{% url 'create-blog-post' %}" class="btn btn-primary">Create a new post</a>
                            </div>
                            <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">SN</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Author</th>
                                  <th scope="col">Category</th>
                                  <th scope="col">Comments</th>
                                  <th scope="col">Published</th>
                                  <th scope="col">Draft</th>
                                  <th scope="col">SEO Title</th>
                                  <th scope="col">SEO Description</th>
                                  <th scope="col">Featured Image</th>
                                </tr>
                              </thead>

                              <tbody>
                                {% for post in post %}

                                <tr>

                                  <th scope="row">{{forloop.counter}}.</th>

                                  <td>
                                        <h6>
                                          <a href="/users/content/edit/{{post.category.slug}}/{{post.slug}}/" class="text-primary">{{post.title}}</a>
                                          </h6>
                                        <br></br>
                                        <div class="flex">
                                        <a href="/users/content/edit/{{post.category.slug}}/{{post.slug}}/" class="btn btn-primary btn-sm mt-1">Edit</a>

                                        <a href="/users/content/{{post.category.slug}}/{{post.slug}}/delete/" class="btn btn-danger btn-sm mt-1">Delete</a>

                                        <a href="{{post.get_absolute_url}}" target="_blank" class="btn btn-success btn-sm mt-1">View</a>
                                      </div>


                                  </td>


                                  <td>{{post.author.first_name}} {{post.author.last_name}}</td>

                                  <td>
                                    <a href="/users/category/edit/{{post.category.slug}}/">
                                      {{post.category}}
                                    </a>
                                  </td>
                                  <td>
                                      <a class="text-white btn btn-primary btn-sm">{{post.blogcomments_set.count}}</a>
                                  </td>
                                  {% if post.draft %}
                                  <td>
                                      <a class="text-white btn btn-danger btn-sm">No</a>
                                  </td>
                                  {% else %}
                                    <td>
                                      <a class="text-white btn btn-success btn-sm">Yes</a>
                                    </br> <br>
                                      <p>Date: {{post.created_date}}</p>
                                    </td>
                                  {% endif %}

                                  {% if post.draft %}
                                  <td>
                                    <a class="text-white btn btn-danger btn-sm">Yes (PO)</a>
                                  </td>
                                  {% elif post.category.draft %}
                                  <td>
                                    <a class="text-white btn btn-danger btn-sm">Yes (CA)</a>
                                  </td>
                                  {% else %}
                                    <td>
                                      <a class="text-white btn btn-success btn-sm">No</a>
                                    </td>
                                  {% endif %}
                                  <td>{{post.title}}</td>
                                  <td>{{post.slug}}</td>
                                  <td>
                                    <a href="{{post.featured_image.url}}" target="_blank">
                                    <div class="p-2 border border-danger">
                                        {{post.featured_image.url|truncatechars:20}}
                                      </div>
                                    </a>
                                    
                                  </td>

                                </tr>

                                {% endfor %}
                                
                              </tbody>

                            </table>
                        </div>
                        </div>
                      
                    </div>
                </div>

            </div>         

            {% endblock content %}