{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Users List</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        
                        
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">All Users</h5>
                            </div>
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">S.N.</th>
                                  <th scope="col">Username</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Verified</th>
                                  <th scope="col">Staff</th>
                                  <th scope="col">Super Admin</th>
                                  <th scope="col">Edit/Delete</th>
                                </tr>
                              </thead>

                              <tbody>
                                {% for user in profile %}

                                <tr>

                                  <th scope="row">{{forloop.counter}}.</th>
                                  <td>{{user.user.username}}</td>
                                  <td>{{user.user.first_name}} {{user.user.last_name}}</td>
                                  <td>{{user.user.email}}</td>
                                  {% if user.email_confirmed %}
                                    <td>
                                      <a class="text-white btn btn-success btn-sm">Yes</a>
                                    </td>
                                  {% else %}
                                    <td>
                                      <a class="text-white btn btn-warning btn-sm">No</a>
                                    </td>
                                  {% endif %}

                                  {% if user.user.is_staff %}
                                  <td>
                                      <a class="text-white btn btn-success btn-sm">Yes</a>
                                  </td>
                                  {% else %}
                                    <td>
                                      <a class="text-white btn btn-warning btn-sm">No</a>
                                    </td>
                                  {% endif %}

                                  {% if user.user.is_superuser %}
                                  <td>
                                      <a class="text-white btn btn-success btn-sm">Yes</a>
                                  </td>
                                  {% else %}
                                    <td>
                                      <a class="text-white btn btn-warning btn-sm">No</a>
                                    </td>
                                  {% endif %}
                                  <td>
                                  <a href="/user/{{user.user.pk}}/edit/" class="btn btn-primary">Edit</a>
                                  <a href="/user/{{user.user.pk}}/delete/" class="btn btn-danger">Delete</a>
                                  </td>

                                </tr>

                                {% endfor %}
                                
                              </tbody>

                            </table>
                        </div>
                      
                    </div>
                </div>

            </div>         

            {% endblock content %}