{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
        <div class="page-wrapper">
            
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        
                        <h4 class="page-title">Create {{create}}</h4>
                        
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">


                            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="card-body">
                                    <h4 class="card-title mb-4">Create a New {{create}}</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-sm-right control-label col-form-label">{{form.title.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.title}}
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-sm-right control-label col-form-label">{{form.category.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.category}}
                                            
                                        </div>
                                    </div>

                                    
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-sm-right control-label col-form-label">{{form.content.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.content}}
                                            
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="email1" class="col-sm-3 text-sm-right control-label col-form-label">{{form.slug.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.slug}}
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="email1" class="col-sm-3 text-sm-right control-label col-form-label">{{form.featured_image.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.featured_image}}
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-sm-right control-label col-form-label">{{form.updated.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.updated}}
                                        </div>
                                    </div>

                                    
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-sm-right control-label col-form-label">{{form.author.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.author}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-sm-right control-label col-form-label">{{form.draft.label}}</label>
                                        <div class="col-sm-9">
                                            {{form.draft}}
                                        </div>
                                    </div>
                                </div>

                                <div class="border-top">
                                    <div class="card-body text-right">
                                        <button class="btn btn-primary" type="submit" action="/">Update</button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                 
                </div>
            </div>
            
{% endblock content %}