{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">All {{create}}s ({{count}})</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <h4 class="card-title m-b-0 col-6">Recent {{create}}s ({{post.count}})</h4>
                            <span class="col-6">
                                
                                {% if create == "Page" %}
                                    <a href="{% url 'create-page' %}" class="btn btn-primary text-right">
                                        Create a New {{created}}
                                    </a>
                                {% else %}
                                    <a href="{% url 'create-blog-post' %}" class="btn btn-primary text-right">

                                        Create a New {{created}}
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="comment-widgets scrollable">
                        <!-- Comment Row -->
                        {% for post in post %}
                        <div class="d-flex flex-row comment-row m-t-0 border border-success">
                            <div class="p-2 border border-danger">
                                <a href="{{post.featured_image.url}}" target="_blank">
                                    <img src="{{post.featured_image.url}}" alt="user" width="150" class="circle">
                                </a>
                            </div>
                            <div class="comment-text w-100">
                                <a href="/users/content/edit/{{post.category.slug}}/{{post.slug}}/">
                                    <h6 class="font-medium">{{post.title}}</h6>
                                </a>
                                

                                {% comment %} {% if post.category.draft %}
                                <button type="button" title="Draft" class="btn btn-danger btn-sm">Category: </button>
                                {% else %}
                                <button type="button" title="Published" class="btn btn-success btn-sm">Category: </button>
                                {% endif %}
                                <a href="/users/category/edit/{{post.category.slug}}/" class="text-primary">
                                    {{post.category}}
                                </a>
                                 {% endcomment %}
                                

                                Category: <a href="/users/category/edit/{{post.category.slug}}/">
                                    {% if post.category.draft %}
                                    <button type="button" title="Draft" class="btn btn-danger btn-sm">{{post.category}}</button>
                                    {% else %}
                                    <button type="button" title="Published" class="btn btn-success btn-sm">{{post.category}}</button>
                                    {% endif %}


                                </a></br>
                                Author: <a href='#' class='text-primary'>{{post.author}}</a>

                                <span class="m-b-15 d-block my-4">{{post.content|striptags|slice:':200'|safe}}...</span>


                                <div class="comment-footer">
                                    {% if post.draft %}
                                    <span class="text-danger float-right">Draft</span><br>
                                    {% elif post.category.draft %}
                                    <span class="text-danger float-right">Draft (Category)</span><br>
                                    {% else %}
                                    <span class="text-warning float-right">Published on:
                                        {{post.created_date}}</span><br>
                                    {% if post.updated %}
                                    <span class="text-success float-right">Updated on: {{post.updated}}</span>
                                    {% endif %}
                                    {% endif %}
                                    <a href="/users/content/edit/{{post.category.slug}}/{{post.slug}}/">

                                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                                    </a>
                                    <a href="/users/content/{{post.category.slug}}/{{post.slug}}/delete/">
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </a>
                                    <a href="{{post.get_absolute_url}}" target="_blank">
                                        <button type="button" class="btn btn-success btn-sm">View Post</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}



                        <div class="col-md-4">
                            
                            <nav aria-label="...">
                                <ul class="pagination">

                                    {% if page_obj.has_previous %}
                                    
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First </a>
                                    </li>
                                    
                                    {% if page_obj.previous_page_number < page_obj.paginator.num_pages %}
                                    
                                    {% if page_obj.previous_page_number|add:"-4" == page_obj.number|add:"-5" and page_obj.previous_page_number|add:"-4" > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"-5"}}">{{page_obj.number|add:"-5"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.previous_page_number|add:"-3" == page_obj.number|add:"-4" and page_obj.previous_page_number|add:"-3" > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"-4"}}">{{page_obj.number|add:"-4"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.previous_page_number|add:"-2" == page_obj.number|add:"-3" and page_obj.previous_page_number|add:"-2" > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"-3"}}">{{page_obj.number|add:"-3"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.previous_page_number|add:"-1" == page_obj.number|add:"-2" and page_obj.previous_page_number|add:"-1" > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"-2"}}">{{page_obj.number|add:"-2"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.previous_page_number == page_obj.number|add:"-1" %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"-1"}}">{{page_obj.number|add:"-1"}}</a></li>
                                    {% endif %}
                                    
                                    {%endif%}

                                    
                                    
                                    {%endif%}
                                    
                                    {% if page_obj.number %}
                                    
                                    
                                    
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{page_obj.number}} <span class="sr-only">(current)</span></a>
                                    </li>
                                    
                                    {% endif %}
                                    
                                    
                                    
                                    {% if page_obj.has_next %}
                                    
                                    
                                    
                                    {% if page_obj.paginator.num_pages > page_obj.number %}
                                    

                                    {% if page_obj.paginator.num_pages|add:'-1' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"1"}}">{{page_obj.number|add:"1"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-2' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"2"}}">{{page_obj.number|add:"2"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-3' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"3"}}">{{page_obj.number|add:"3"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-4' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"4"}}">{{page_obj.number|add:"4"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-5' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"5"}}">{{page_obj.number|add:"5"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-6' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"6"}}">{{page_obj.number|add:"6"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-7' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"7"}}">{{page_obj.number|add:"7"}}</a></li>
                                    {% endif %}

                                    {% if page_obj.paginator.num_pages|add:'-8' > page_obj.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.number|add:"8"}}">{{page_obj.number|add:"8"}}</a></li>
                                    {% endif %}

                                    
                                    {% endif %}
                                    {%endif%}

                                    {% if page_obj.has_next %}

                                    {% if page_obj.number < page_obj.paginator.num_pages|add:"-9" %}

                                    <ul class="pagination mx-3">
                                        <li class="page-item"><p>...</p></li>
                                    </ul>

                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                            {{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                            Last</a>
                                    </li>
                                    {%endif%}



                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>


            </div>


        </div>
    </div>
</div>



{% endblock content %}